.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 90px 90px;
  background-color: black;
  
}

.card {
  width: 300px;
  background: black;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  border: 1px solid orange;
  color: white;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 18px;
   }

.card p {
  font-size: 14px;

}
