.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 90px 20px;

}

.card {
  width: 300px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 18px;
   color: black;
}

.card p {
  font-size: 14px;
  color: #555;
}
